.header {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}
.header__logo {
  width: 2em;
  height: 2em;
  background-color: beige;
  border-radius: 50%;
  margin-right: .5em;
}